form {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
}
label {
    display: block;
    margin-bottom: 10px;
}
input,
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
button {
    background-color: #333333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #333333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

#logo {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    color: #333;
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: #ddd;
}

nav a:hover {
    background-color: #ccc;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

section{
    flex: 1;
}