body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

#logo {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    color: #333;
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: #ddd;
}

nav a:hover {
    background-color: #ccc;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    color: #333333;
}

section:nth-child(even) {
    background-color: #333;
    color: #fff;
}

.slider-container {
    text-align: center;
}

.slider {
    max-width: 800px;
    width: 100%;
}

.slide {
    position: relative;
}

.slide img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.conteudo {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    max-width: 80%;
}

.conteudo h2,
.conteudo p {
    margin: 0;
}

.conteudo h2,
.conteudo p {
    margin: 0;
}

.conteudo button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}